<nav class="sidebar">
    <app-toolbox></app-toolbox>
</nav>
<div id="page-content-wrapper">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-9">
		<div class="row">		
		    <div class="col-11">
			<div class="row">
			    <div class="col-12 items">
				<app-items></app-items>
			    </div>
			</div>
			<div class="row">
			    <div class="col-12 canvas">
				<app-canvas></app-canvas>
			    </div>
			</div>
			<div class="row">
			    <div class="col-12 pallet">
				<app-pallet></app-pallet>
			    </div>
			</div>
		    </div>
		    <div class="col-1 persp">
			<app-perspectives></app-perspectives>
		    </div>
		</div>
	    </div>
	    <div class="col-3">
		<app-budget-detail></app-budget-detail>
	    </div>
	</div>
    </div>
</div>
