<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
	<img src="assets/images/logo.png" alt="logo" height="45px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	    <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Archivo
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		    <a class="dropdown-item" href="#">Enviar</a>
		    <a class="dropdown-item" href="#">Imprimir</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="#">Exportar a PDF</a>
		    <a class="dropdown-item" href="#">Exportar a png</a>
		</div>
	    </li>
	    <li class="nav-item">
		<a class="nav-link">Nombre Cliente</a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link" style="font-style:italic" contenteditable="true">Nombre presupuesto</a>
	    </li>
	</ul>
    </div>
</nav>
<router-outlet></router-outlet>
