<table><tr>
    <td style = "background-color: black; color: black">__</td>
    <td style = "background-color: darkslategray; color: darkslategray">__</td>
    <td style = "background-color: slategray; color: slategray">__</td>
    <td style = "background-color: lightslategray; color: lightslategray">__</td>
    <td style = "background-color: gray; color: gray">__</td>
    <td style = "background-color: dimgray; color: dimgray">__</td>
    <td style = "background-color: darkgray; color: darkgray">__</td>
    <td style = "background-color: silver; color: silver">__</td>
    <td style = "background-color: lightgray; color: lightgray">__</td>
    <td style = "background-color: gainsboro; color: gainsboro">__</td>
    <td style = "background-color: white; color: white">__</td>			
    <td style = "background-color: darkred; color: darkred">__</td>
    <td style = "background-color: firebrick; color: firebrick">__</td>
    <td style = "background-color: red; color: red">__</td>
    <td style = "background-color: crimson; color: crimson">__</td>
    <td style = "background-color: indianred; color: indianred">__</td>
    <td style = "background-color: lightcoral; color: lightcoral">__</td>
    <td style = "background-color: darksalmon; color: darksalmon">__</td>
    <td style = "background-color: salmon; color: salmon">__</td>
    <td style = "background-color: lightsalmon; color: lightsalmon">__</td>
    <td style = "background-color: orangered; color: orangered">__</td>
    <td style = "background-color: tomato; color: tomato">__</td>
    <td style = "background-color: coral; color: coral">__</td>
    <td style = "background-color: darkorange; color: darkorange">__</td>
    <td style = "background-color: orange; color: orange">__</td>
    <td style = "background-color: gold; color: gold">__</td>
    <td style = "background-color: yellow; color: yellow">__</td>
    <td style = "background-color: lightyellow; color: lightyellow">__</td>
    <td style = "background-color: lemonchiffon; color: lemonchiffon">__</td>
    <td style = "background-color: LightGoldenRodYellow; color: LightGoldenRodYellow">__</td>
    <td style = "background-color: papayawhip; color: papayawhip">__</td>
    <td style = "background-color: moccasin; color: moccasin">__</td>
    <td style = "background-color: peachpuff; color: peachpuff">__</td>
    <td style = "background-color: palegoldenrod; color: palegoldenrod">__</td>
    <td style = "background-color: khaki; color: khaki">__</td>
    <td style = "background-color: darkkhaki; color: darkkhaki">__</td>
    <td style = "background-color: greenyellow; color: greenyellow">__</td>
    <td style = "background-color: lime; color: lime">__</td>
    <td style = "background-color: limegreen; color: limegreen">__</td>
    <td style = "background-color: palegreen; color: palegreen">__</td>
    <td style = "background-color: lightgreen; color: lightgreen">__</td>
    <td style = "background-color: springgreen; color: springgreen">__</td>
    <td style = "background-color: seagreen; color: seagreen">__</td>
    <td style = "background-color: forestgreen; color: forestgreen">__</td>
    <td style = "background-color: green; color: green">__</td>
    <td style = "background-color: darkgreen; color: darkgreen">__</td>
    <td style = "background-color: yellowgreen; color: yellowgreen">__</td>
    <td style = "background-color: darkseagreen; color: darkseagreen">__</td>
    <td style = "background-color: darkcyan; color: darkcyan">__</td>
    <td style = "background-color: cyan; color: aqua">__</td>
    <td style = "background-color: lightcyan; color: lightcyan">__</td>
    <td style = "background-color: aquamarine; color: aquamarine">__</td>
    <td style = "background-color: turquoise; color: Turquoise">__</td>
    <td style = "background-color: steelblue; color: steelblue">__</td>
    <td style = "background-color: lightblue; color: lightblue">__</td>
    <td style = "background-color: skyblue; color: skyblue">__</td>
    <td style = "background-color: lightskyblue; color: lightskyblue">__</td>
    <td style = "background-color: royalblue; color: royalblue">__</td>
    <td style = "background-color: blue; color: blue">__</td>
    <td style = "background-color: darkblue; color: darkblue">__</td>
    <td style = "background-color: navy; color: navy">__</td>
    <td style = "background-color: slateblue; color: slateblue">__</td>
    <td style = "background-color: indigo; color: indigo">__</td>
    <td style = "background-color: pink; color: pink">__</td>
    <td style = "background-color: hotpink; color: hotpink">__</td>
    <td style = "background-color: deeppink; color: deeppink">__</td>
    <td style = "background-color: lavender; color: lavender">__</td>
    <td style = "background-color: orchid; color: orchid">__</td>
    <td style = "background-color: magenta; color: magenta">__</td>
    <td style = "background-color: darkVIOLET; color: DarkViolet">__</td>
    <td style = "background-color: purple; color: purple">__</td>
    <td style = "background-color: bisque; color: bisque">__</td>
    <td style = "background-color: wheat; color: wheat">__</td>
    <td style = "background-color: tan; color: tan">__</td>
    <td style = "background-color: sandybrown; color: sandybrown">__</td>
    <td style = "background-color: goldenrod; color: goldenrod">__</td>
    <td style = "background-color: peru; color: peru">__</td>
    <td style = "background-color: olive; color: olive">__</td>
    <td style = "background-color: sienna; color: sienna">__</td>
    <td style = "background-color: brown; color: brown">__</td>
    <td style = "background-color: MAROOn; color: maroon">__</td>
</tr></table>
