<ul class="sidebar-nav">
    <li><i class="fas fa-undo fa-2x"></i></li>
    <li><i class="fas fa-mouse-pointer fa-2x"></i></li>
    <li><i class="far fa-object-group fa-2x"></i></li>
    <li><i class="fas fa-crop fa-2x"></i></li>
    <li><i class="fas fa-search-plus fa-2x"></i></li>
    <li><i class="fas fa-search-minus fa-2x"></i></li>
    <li><i pDraggable="dd" class="far fa-circle fa-2x"></i></li>
    <li><i pDraggable="dd" class="far fa-square fa-2x"></i></li>
    <li><i pDraggable="dd" class="far fa-star fa-2x"></i></li>
    <li><i class="fas fa-eye-dropper fa-2x"></i></li>
    <li><i class="fas fa-font fa-2x"></i></li>
    <li><i class="fas fa-pencil-alt fa-2x"></i></li>
    <li><i class="fas fa-paint-brush fa-2x"></i></li>
</ul>
